@model Day1Homework.Models.ViewModels.MoneyViewModel

@{
    ViewBag.Title = "我的記賬本";
}

<hr />

<div class="well">
    @{
        Html.RenderPartial("Create");
    }
</div>

@Html.Action("List")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

