@model Homework1.Models.ViewModels.MoneyViewModel

@{
    ViewBag.Title = "我的記賬本";
}

<div class="well">
    @{
        Html.RenderPartial("Create");
    }
</div>

<div class="row">
    <div id="listdiv" class="col-md-12">
        @Html.Action("List")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryuno")
}
